
.title {
   margin-bottom: 10px;
   text-align: center;
   width: 263px;
   color: red;
   border: solid black 2px;
}

input[type="button"] {
   background-color: plum;
   color: black;
   border: solid black 2px;
   width: 100%
}

input[type="text"] {
   background-color: white;
   border: solid black 2px;
   width: 100%
}

.cls1{
    margin-top: 140px;
    /* margin-left: 100px; */
}

@media screen and (min-width: 601px) {
   div.example {
     font-size: 80px;
     
   }
 }
 
 /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
 @media screen and (max-width: 600px) {
   div.example {
     font-size: 30px;
     width:20px;
   }
 }